<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Info App</title>
</head>
<body>
    <h1>Phone Info App</h1>
    <form action="/get_phone_info" method="post">
        <label for="phone_number">Enter the phone number:</label>
        <input type="text" id="phone_number" name="phone_number" required>
        <button type="submit">Get Info</button>
    </form>
</body>
</html>

